:root {
  --background-color: #f4f4f4;
  --text-color: #333;
  --button-background: #007bff;
  --button-text: #fff;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --border-color: #ddd;
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #eee;
  --button-background: #1e88e5;
  --button-text: #fff;
  --primary-color: #1e88e5;
  --secondary-color: #5a6268;
  --border-color: #444;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  width: 100vw;
  max-width: 1200px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top-container {
  width: 100%;
  padding: 20px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.head-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.theme-toggle-btn,
.language-select {
  margin: 0;
}

.middle-container,
.second-container,
.history-section,
.table-section {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  background-color: var(--background-color);
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.middle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  background-color: var(--background-color);
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.second-container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  flex-direction: column;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  margin: 20px 0;
  padding: 15px;
  color: var(--primary-color);
  border-bottom: 2px dashed var(--primary-color);
  width: 100%;
  box-sizing: border-box;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px 30px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background-color: rgba(0, 123, 255, 0.1);
  margin-bottom: 15px;
  width: 50%; 
  margin-inline: auto;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.input-container:last-child {
  margin-bottom: 10px;
}

.middle-container > div {
  display: flex;
  justify-content: space-between;

}

select,
input[type="number"] {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

input[type="number"] {
  width: 80px;
  text-align: center;
}

button,
.theme-toggle-btn,
.update-rates-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: var(--button-background);
  color: var(--button-text);
  cursor: pointer;
  font-size: 16px;
  margin-inline: auto;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover,
.theme-toggle-btn:hover,
.update-rates-btn:hover {
  background-color: rgba(0, 123, 255, 0.8);
}

.history-section h2,
.table-section h2 {
  text-align: left;
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.history-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.history-section li {
  margin-bottom: 8px;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: center;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden;
  text-overflow: ellipsis;
}

table th {
  background-color: var(--primary-color);
  color: var(--button-text);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.language-select,
.currency-select-from,
.currency-select-to {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .input-container {
    flex-direction: column;
    gap: 4px;
  }

  button {
    width: 100%;
  }
}

.middle-container, .bottom-container {
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
